page-login {
    .content{
            background-color: #323d44 !important;

    }
    ion-item{
        color: #fff !important;
    }

    .item{
        background-color: transparent !important;
        padding-right: 16px;
    }
  form {
    margin-bottom: 32px;
    button {
      margin-top: 20px;
      color: #323d44 !important;
    }
  }
  button{
      color: #fff !important;
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }
  img{
      display:block;
      margin: 0 auto;
      margin-top: 30%;
  }
  .login{
      border-color: #fff !important;
      color: #fff!important;
      display: block;
      margin:0 auto;
      padding: 0 50px;
  }
}
