<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="News" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Homes" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Builders" tabIcon="podium"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Following" tabIcon="md-bookmark"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <!--ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="person"></ion-tab-->
</ion-tabs>
