page-event-detail {
    .content{
        top: 56px;
    }
  ion-card-header {
    text-align: center;
  }

  .add-guest-form {
    button {
      margin-top: 16px;
    }
  }

  
  .scroll-content{
      padding: 0px !important;
  }
}
ion-segment{
    margin-top: -3px !important;
    .communitydetailsegment{
        background-color: #323d44;
        color: #fff;
    }
}
ion-segment-button:first-of-type, ion-segment-button:last-of-type, ion-segment-button{
    border-radius: 0px !important;
    border: none !important;
}

.saleshours{
    white-space: pre;
}