<ion-header>
  <ion-navbar color="primary">
<ion-title>{{currentCommunity?.community}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <img [src]=currentCommunity?.logo width="100%">
  <ion-segment [(ngModel)]="info" class="communitydetailsegment">
    <ion-segment-button value="general">
            <ion-icon name="home"></ion-icon>

    </ion-segment-button>
    <ion-segment-button value="models">
      <ion-icon name="list-box"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="contact">
      <ion-icon name="information-circle"></ion-icon>
    </ion-segment-button>      
  </ion-segment>
<div [ngSwitch]="info">
  <ion-list *ngSwitchCase="'general'">
    <ion-item>
        <h1><b>{{currentCommunity?.builder}}</b></h1>
      <i>{{currentCommunity?.community}}</i><br><br>
      <b>Price Range</b><br>
      <p>{{currentCommunity?.priceRange.min| currency:'USD':true:'1.2-2'}} - {{currentCommunity?.priceRange.max | currency:'USD':true:'1.2-2'}}</p><br>
      <b>Opening Date</b><br>
      <p>{{currentCommunity?.date}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngSwitchCase="'models'">
    <ion-item>
      <h2>Models</h2>
<ion-list no-lines>
  <button ion-item *ngFor="let model of currentCommunityModels" (click)="goToModelDetail(currentCommunity?.id,model.id)" class="nopadding">
    {{model.name}} - {{model.sq}} SQ.FT.
  </button>  
</ion-list>
    </ion-item>
  </ion-list>
    
  <ion-list *ngSwitchCase="'contact'">
    <ion-item>
      <b>Representative</b><br>
      <p> {{currentCommunity?.salesCentre.representative}}</p><br>
      <b>Email</b><br>
      <p> {{currentCommunity?.salesCentre.email}}</p><br>
       <b>Hours</b><br>
       <p class="saleshours">{{currentCommunity?.salesCentre.hours}}</p>
    </ion-item>
  </ion-list>    
</div>    


  <!--ion-card class="add-guest-form">
    <ion-card-header>
      Add Guests
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input [(ngModel)]="guestName" type="text"
            placeholder="What's your guest's name?"></ion-input>
        </ion-item>
        <span *ngIf="guestPicture">Picture taken!</span>

        <button ion-button color="primary" block (click)="takePicture()">
          Take a Picture
        </button>

        <button ion-button color="primary" block (click)="addGuest(guestName)">
          Add Guest
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card-->

</ion-content>
