<ion-header>
    <ion-navbar color="primary">
        <ion-title>Favourites</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToProfile()">
                    <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card   *ngFor="let community of followingCommunities ">
        <ion-item>
            <p>Posted {{community.date | date:'mediumDate'}}</p><span item-right class="follow">                    
                <button ion-button icon-left clear (click)="unfollowCommunity(community.id)">
                        <ion-icon name="ios-bookmark"></ion-icon>
                    UnFollow
                </button></span>
        </ion-item>
        <img [src]=community.logo width="100%"  (click)="goToCommunityDetail(community.id, community.modelid)">
            <ion-card-content >
            <ion-card-title>
                <div class="card-title"><b (click)="goToCommunityDetail(community.id, community.modelid)">{{community.community}}</b><br>
                    <span class="builder" (click)="goToBuilder(community.builderId)">{{community.builder}}</span>
                </div>
            </ion-card-title>
            <p>{{community.description}}</p>
        </ion-card-content>
        <ion-row class="socialinfo">
            <span>{{community.likes}} likes</span>
            <span>{{community.comments}} comments</span>
        </ion-row>
        <ion-row class="topborder">
            <ion-col text-center>
                <button ion-button icon-left clear>
                    <ion-icon name="thumbs-up"></ion-icon>
                </button>

            </ion-col>

            <ion-col text-center>
                <button ion-button icon-left clear>
                    <ion-icon name="text"></ion-icon>
                </button>
            </ion-col>
            <ion-col text-center>
                <button ion-button icon-left clear>
                    <ion-icon name="md-share"></ion-icon>
                </button>
            </ion-col>
            <!--ion-col center text-center>
                <ion-note>
                    {{community.date | date:'mediumDate'}}
                </ion-note>
            </ion-col-->
        </ion-row>
    </ion-card>
</ion-content>

<ion-content padding>
    <p>favourites goes here</p>
</ion-content>