<ion-header>
  <ion-navbar color="primary">
<ion-title>{{currentBuilder?.builder}}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding>
<img [src]=currentBuilder?.logo width="100%"/>

</ion-content>
