page-home {
  button {
    margin-bottom: 32px;
  }
  .loading{
      text-align: center;
  }
  .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.builder{
    font-size: 12px;
    color: #999
}
.topborder{
    border-top: 1px solid rgba(0,0,0,.1);
    & ion-col{
        padding: 0px;
    }
}
.socialinfo{
    padding: 3px 16px;
    span{
        margin-right: 10px;
    }
}
.follow{
    margin: 0px !important;
    font-size: 1.3em;
}
.activelike{
    color: red;
}
}
