<ion-header>
    <ion-navbar color="primary">
        <ion-title *ngIf="!isOn">Communities</ion-title>
        <ion-searchbar *ngIf="isOn" (ionInput)="getCommunities($event)"></ion-searchbar>
        <ion-buttons end>
            <button ion-button icon-only (click)="searchCommunities()">
                    <ion-icon name="search"></ion-icon>
            </button>

            <button ion-button icon-only (click)="goToProfile()">
                    <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!--
<ion-content padding class="card-background-page">
    <ion-list *ngIf="eventList">   
        <ion-card  *ngFor="let event of eventList" (click)="goToEventDetail(event.id)">
            <img [src]=event?.communityimage width="100%">
            <div class="card-title">{{event?.community}}</div>
            <div class="card-subtitle">{{event?.builder}}</div>
        </ion-card>
    </ion-list>
    <ion-list *ngIf!="eventList">
        <p class="loading">Fetching data<ion-spinner name="bubbles"></ion-spinner></p>
    </ion-list> 
</ion-content>
-->
<ion-content padding class="card-background-page">
    <ion-list *ngIf="communities">  
        <!--ion-card   *ngFor="let community of communityList | async"-->
        <ion-card *ngFor="let community of communities | async">
            <ion-item>
                <span>{{community.date | date:'mediumDate'}}</span>
                        <span icon-left clear item-right (click)="followCommunity(community.id)">
                            follow
                        </span>         
            </ion-item>
            <img [src]=community.logo width="100%"  (click)="goToCommunityDetail(community.id)">
                <ion-card-content >
                <ion-card-title>
                    <div class="card-title"><div><b (click)="goToCommunityDetail(community.id)">{{community.community}}</b></div>
                        <div class="builder" (click)="goToBuilder(community.builderId)">{{community.builder}}</div>
                    </div>
                </ion-card-title>
                <p>{{community.description}}</p>
            </ion-card-content>
            <ion-row class="socialinfo">
                <span>{{community.likes}} likes</span>
                <span *ngIf="community.comments==1">{{community.comments}} comment</span>
                <span *ngIf="community.comments!=1">{{community.comments}} comments</span>
            </ion-row>
            <ion-row class="topborder">
                <ion-col text-center>
                    <!--div *ngFor="let like of myLikes | async">
                        <div *ngIf="community.id==like.$key" >
                            <button ion-button icon-left clear (click)="likeCommunity(community.id)" *ngIf="like.$value==false">
                                    <ion-icon name="md-thumbs-up"></ion-icon>
                            </button>
                            <button ion-button icon-left clear (click)="unlikeCommunity(community.id)" *ngIf="like.$value==true">
                                    <ion-icon name="md-thumbs-up" color="danger"></ion-icon>
                            </button>
                        </div>
                    </div-->
                    <button ion-button icon-left clear (click)="likeCommunity(community.id)">
                            <ion-icon name="md-thumbs-up" ></ion-icon>
                        like
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-left clear (click)="commentModal(community.id)">
                            <ion-icon name="text"></ion-icon>
                        comment
                    </button>
                </ion-col>
                <ion-col text-center>
                    <button ion-button icon-left clear>
                        <ion-icon name="md-share"></ion-icon>
                        share
                    </button>
                </ion-col>
                <!--ion-col center text-center>
                    <ion-note>
                        {{community.date | date:'mediumDate'}}
                    </ion-note>
                </ion-col-->
            </ion-row>

        </ion-card>
    </ion-list>



</ion-content>