// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.item-md, item-ios {
    color: #000;
    p {
    color: #000;
    }
}

.list-md ion-item-options .button, .list-ios ion-item-options .button{
    margin: 0;
    height: 100%;
}
.item-md h2, .item-ios h2{
    font-weight: bold;
    font-size: 2.3rem;
}

ion-card{
    background-color: #f2f2f2;
    p{
    color: #000 !important;
    }
}
.scroll-content {
    padding: 0px !important;
}

.nopadding{
    padding: 0px;
}

ion-navbar{
    height: 52px;
}
ion-content{
    background-color: #ECF0F1 !important;
}
.scroll-content{
top:-56px !important;
padding-top: 60px !important;
}
.hide-header{
transition : top 0.25s ease;
top: -56px;
}
.show-header{
transition : top 0.25s ease;
top: 0px;
}