<ion-header>
    <ion-navbar color="primary">
        <ion-title>news</ion-title>
        <ion-buttons end>            
            <button ion-button icon-only (click)="goToProfile()">
                    <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p>news content goes here</p>
</ion-content>
