<ion-header>
    <ion-navbar color="primary">
        <ion-title>Search</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="goToProfile()">
                    <ion-icon name="md-more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    contact page
</ion-content>
