page-builders {
    .builderthumbnail{
        width: 70px;
        height: auto;
        img{
            width: 70px;
            height: auto;
            position: absolute;
            top: 35%;
        }
    }
}
