<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!isOn">Builders</ion-title>
    <ion-searchbar *ngIf="isOn" (ionInput)="getBuilders($event)"></ion-searchbar>
        <ion-buttons end>
                  <button ion-button icon-only (click)="searchBuilders()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToProfile()">
        <ion-icon name="md-more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
        <ion-list>
  <ion-item *ngFor="let builder of builderList"  (click)="goToBuilderDetail(builder.id)">
    <ion-thumbnail item-left class="builderthumbnail">
      <img [src]=builder.logo>
    </ion-thumbnail>
      <b><p>{{builder.builder}}</p></b>
    <p>I've had a pretty messed up day. If we just...</p>
    <button ion-button clear item-right>View</button>
  </ion-item>
</ion-list>
</ion-content>
