page-comment {
    .comment{
        color: #000;
    }
    .time{
        color: #000;
    font-size: 10px;
    opacity: 0.5;
    }
    .bottomborder{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0px !important;
    }
}
 