<ion-header>
  <ion-navbar color="primary">
    <ion-title>comment</ion-title>
        <ion-buttons start>
      <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-list  no-lines class="bottomborder">
  <ion-item *ngFor="let comment of comments | async">
    <ion-avatar item-left>
      <img src="">
    </ion-avatar>
    <b>{{comment.user}}</b>
    <p class="comment">{{comment.comment}}</p>
    <p class="time">{{comment.time | amTimeAgo}}</p>
  </ion-item>
  </ion-list>
          <form [formGroup]="comment" (ngSubmit)="submitComment()">
      <ion-item>
        <ion-input type="text" formControlName="comments" placeholder="leave a comment..."></ion-input>
      <button ion-button type="submit" color="primary" item-right [disabled]="!comment.valid">post comment</button>
</ion-item>
    </form>
      
      
</ion-content>
